@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@300;400;500&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    
}

:root{
    --color-primary: rgb(0, 255, 221);
    --color-primary-variant: #060f1d79;
    --color-white: #fff;
    --color-light: #f5f5f5;
    --color-black: #040e1d;
    --color-dark: #4b4a53;

    --container-width-lg: 82%;
    --container-width-md: 90%;
    --container-width-sm: 92%;
}

a{
    cursor: pointer;
}



/*For smooth scroll transition*/
html{
    
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#bg{
    
    height: 100vh;
    position: absolute;
    background-color: var(--color-black);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1; 
      
}

#home{
    position: relative;
    max-height: 100vh;
    
    
}

.column{
    min-width: 70vw;
    height: 100vh;
    position: absolute;
    padding: 150px 0 0 70px;
}



.planet{
    width: 500px;
    height: 500px;
    background: linear-gradient(135deg, rgb(176, 255, 255), rgba(0, 56, 49, 0.938));    
    position: absolute;
    left: 800px;
    top: 30px;
    border-radius: 50%;
    z-index:  3;

}

.planet:before{
    content: "";
    position: absolute;
    top: 1%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 0px, #d4f7fc, rgba(2, 37, 39, 0.137) 58%);
    filter: blur(5px);
}

.planet2{
    width: 800px;
    height: 800px;
    background: radial-gradient(circle at 50% 120%, #81e8f6, #76deef 10%, #055194 80%, #062745 100%);
    border-radius: 50%;
    position: absolute;
    top: -250px;
    left: 720px;
    z-index: -1;
    opacity: 0.3;
    z-index: 2;  

}

.planet2:before{
  content: "";
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: radial-gradient(circle at 50% 0px, #aef6ff, rgba(255, 255, 255, 0) 58%);
  filter: blur(5px);
  z-index: 2;
  
}

.column img{
    position: absolute;
    left: 800px;
    top:54px;
    z-index: 4;
    
}

h1{
    font-family: 'Poppins', sans-serif;
    font-size: 4.9em;
    line-height: 1.1em;
    color: #e6f1ff;
}

h2{
    font-size: 2rem;
}

h3{
    font-size: 1.6rem;
}

h4{
    font-size: 1.4rem;
}

h5{
    font-size: 1rem;
}

h6{
    font-family: 'Roboto monospace', monospace;
    font-size: 1.2em;
    line-height: 1.1em;
    letter-spacing: 0.05em;
    color: rgb(0, 255, 221);
}

.btn{
    background: var(--color-bl);
    color: var(--color-white);
    display: inline-block;
    width: fit-content;
    padding: 0.8re 1.6re;
    border: 1px solid transparent;
    cursor: pointer;
    transition: all 400ms ease;
    text-align: left;
}

.btn:hover{
    color: var(--color-primary);
}

.btn-primary{
    background: var(--color-light);
    color: var(--color-black);
    font-size: 1.2rem;
}

.btn-primary:hover{
    background: var(--color-light);
}

.btn-lg{
    padding: 1.1rem 2rem;
    font-size: 1.2rem;
}

/*=================EXPERIENCE==================*/

section#services {
    margin-top: 40rem;
    padding: 8rem;
    color: var(--color-black);
}

.services__container{
    display: grid;
    grid-template-columns: 25% auto;
    gap: 2rem;
}

.services__left{
    background: var(--color-black);
    padding: 2rem;
    color: var(--color-light);
}

.services__left h1{
    font-size: 7rem;
    font-weight: 600;
    color: var(--color-primary);
}

.services__left h4{
    line-height: 1.4;
    font-weight: 600;
    color: var(--color-white);
}

.services__right h2{
    margin-bottom: 2rem;
}

.services__cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.services__card{
    background: var(--color-light);
    padding: 4rem 2rem;
    cursor: default;
    transition: all 400ms ease;
}

.services__card a{
    color: var(--color-dark);
}

.services__card:hover{
    background: var(--color-black);
    box-shadow: 0 0 1.6rem var(--color-primary-variant);
    color: var(--color-white);

}

.services__card:hover *{
    transition: all 400ms ease;
}

.services__card h5{
    margin: 1rem 0;
}

.services__card:hover a{
    margin-left: 1rem;
}

/*=================PORTFOLIO==================*/

#portfolio{
    background: var(--color-light);
    padding: 8rem;
}

.portfolio__head{
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}




.portfolio__head h3{
    width: 25%;
}

.portfolio__head-right{
    width: 49%;
}

.portfolio__head-right a{
    margin-top: 1.4rem;
    display: inline-block;
    color: var(--color-primary);
    transition: all 400ms ease;
}

.portfolio__head-right a:hover{
    margin-left: 1rem;
}

.portfolio__projects{
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.portfolio__project{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    gap: 1rem;
}

.portfolio__project-image{
    height: 20rem;
    display: block;
    border: 1rem solid var(--color-white);
    overflow: hidden;
    box-shadow: 0 0 1.6rem var(--color-primary-variant);
    transition: all 400ms ease;
}

.portfolio__project-image:hover{
    box-shadow: none;
}

.portfolio__project-image img{
    transform: 0;
    transition: all 15s ease;
    width: 100%;
}

.portfolio__cta{
    display: flex;
    gap: 1rem;
}

.portfolio__project-image:hover img{
    transform: translateY(calc(-100% + 18rem));
}


/*=================CONTACT==================*/
#contact{
    background: var(--color-black);
    color: var(--color-white);
    margin: 0;
    padding: 8rem;
}

.contact__container{
    display: flex;
    grid-template-columns: 1fr 1fr;
    gap: 8rem;
    font-size: 0.9rem;
}

.contact__container h2{
    color: var(--color-primary);
}

.contact__container p {
    margin: 1rem 0 2rem;
}

.contact__socials{
    display: flex;
    gap: 1rem;
}

.contact__socials a{
    color: var(--color-white);
    font-size: 1.3rem;
    transition: all 400ms ease;
}

.contact__socials a:hover{
    color: var(--color-primary);
}

form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

form input,
textarea {
    padding: 1rem;
    width: 28rem;
}


footer{
    text-align: center;
    background: var(--color-black);
    padding: 1.2rem 0;
    color: var(--color-white);
}












